.backdrop {
  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #fdfcfc, #e3e3e2)
}
.backdrop_night {
  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #271a1a, #080035)
}

