.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin-left: auto;
  margin-right: auto;
}

.list_item {
    height: 310px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}


.group {

  background: url('../../images/bg.JPG');
  display: flex;
  
align-items: center;
  flex-direction: column;

  width: 210px;
  height: 270px;
  margin-right: 25px;

  border-radius: 20px;

  background-size: cover;
}
.group_active{
  background: url('../../images/bg.JPG');
  display: flex;
  
align-items: center;
  flex-direction: column;

  width: 210px;
  height: 270px;
  margin-right: 25px;

  border-radius: 20px;

  background-size: cover;
  border-bottom: 0.5px solid white ;
}
.img {
    
  border-bottom: 3px solid black;
  border-radius: 20px 20px 0 0;
  width: 210px;
  height: 120px;
  margin-bottom: 5px;
}
.subtitle {
  margin-bottom: 9px;
  color: aliceblue;

 
  margin-left: 60px;
  margin-right: auto;
}

.item{
  position: relative;
}

.item:before {
  position: absolute;
  color: white; 
  content: "•"; 
  padding-right: 7px; 
  top: 0;
  left: -15px;
 }
.text {
  margin: 5px 20px 0 0px;
  color: white;
  font-size: 12px;
}
.orange_text{
  /* margin-top: 15px; */
  margin: 5px 0px 0 8px;
  
  color: orange;
  font-size: 13px;
}
.used_text {
  font-size: 12px;
  margin: 5px 8px 0 8px;
  color: blanchedalmond;
}

.main_img {
    
  width:585px;
  height: 280px;
  margin-right: 25px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 5px, rgba(246, 244, 244, 0.22) 0px 3px 5px;
}

.bot_wrap {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
flex-direction: column;
  display: flex;
 justify-content: center;
  
  align-items: center;
}

.btn_wrap{
display: flex;
flex-direction: row;
margin-top: 25px;

}
.first_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    margin-right: 25px;
    color: white;
  opacity: 0.8;
  border-radius: 10px;
  border: 2px solid rgb(248, 246, 246);
  width: 250px;
  height: 40px;
  margin-bottom: 15px;
  /* box-shadow: 0px 1px 2px 0px green,
            1px 2px 4px 0px green,
            2px 4px 8px 0px green,
            2px 4px 16px 0px green; */
}
.second_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
  opacity: 0.8;
  border-radius: 10px;
  border: 2px solid rgb(248, 246, 246);
  width:250px;
  height: 40px;
  /* box-shadow: 0px 1px 2px 0px green,
            1px 2px 4px 0px green,
            2px 4px 8px 0px green,
            2px 4px 16px 0px green; */
  /* margin-bottom: auto; */
}


