

/* TBLET----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 85vh;
  }

  .list {
    
    width: 85vw;
    display: flex;
    flex-direction: row;
    
    margin-right: auto;
    margin-left: auto;
    
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
   
  }

  .list_item {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    width: 35vw;
    height: 18vh;
    margin-right: 70px;
    margin-bottom: 13px;
  }
  .list_item:nth-child(2) {
    margin-right: 0;
  }
  .list_item:nth-child(4) {
    margin-right: 0;
  }
  .group {
    width: 35vw;
    height: 10vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: url('../../images/bg.JPG');
    background-size: cover;
    padding-right: 10px;
  }
  .group_active {
    width: 35vw;
    height: 10vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: url('../../images/bg.JPG');
    padding-right: 10px;
    border-bottom: 2px solid white;
    background-size: cover;
  }
  .img {
    display: none;
    
  }
  .subtitle {
    min-width: 50px;
    margin: 0;
    margin-bottom: 10px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    position: relative;
  }

  .item:before {
    position: absolute;
    color: white;
    content: '•';
    padding-right: 7px;
    top: 0;
    left: 10px;
  }
  .text {
    margin: 5px 20px  0px 25px;
    color: white;
    font-size: 13px;
    line-height: 120%;
  }
  .orange_text {
    font-size: 13px;
    margin: 5px 0px 0 0px;

    color: orange;
    ;
  }
  .used_text {
    font-size: 14px;
    margin: 5px 8px 0 8px;
    color: blanchedalmond;
  }

  .main_img {
    width: 81vw;
    height: 280px;
    margin-bottom: 17px;
    
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 5px,
      rgba(246, 244, 244, 0.22) 0px 3px 5px;
  }

  .bot_wrap {
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;

    align-items: center;
  }

  .btn_wrap {
    display: flex;
    flex-direction: row;
    
  }
  .first_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    margin-right: 30px;
    
    color: white;
    opacity: 1;
    border-radius: 10px;
    border: 2px solid rgb(248, 246, 246);
    width: 275px;
    height: 40px;
    margin-bottom: 15px;
  }
  .second_btn {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    opacity: 1;
    border-radius: 10px;
    border: 2px solid rgb(248, 246, 246);
    width: 275px;
    height: 40px;
  }
}


/* DESKPOT----------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .list_item {
    margin-right: 10px;
    height: 310px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  
  .group {
    background: url('../../images/bg.JPG');
    display: flex;
  
    align-items: center;
    flex-direction: column;
  
    width: 210px;
    height: 270px;
    
   
    border-radius: 20px;
  
    background-size: cover;
  }
  .group_active {
    background: url('../../images/bg.JPG');
    display: flex;
  
    align-items: center;
    flex-direction: column;
  
    width: 210px;
    height: 270px;
    
  
    border-radius: 20px;
  
    background-size: cover;
    border-bottom: 0.5px solid white;
  }
  .img {
    border-bottom: 3px solid black;
    border-radius: 20px 20px 0 0;
    width: 210px;
    height: 120px;
    margin-bottom: 5px;
  }
  .subtitle {
    margin-bottom: 9px;
    color: aliceblue;
  font-size: 13px;
  font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.05em;
  }
  
  .item {
    position: relative;
  }
  
  .item:before {
    position: absolute;
    color: white;
    content: '•';
    padding-right: 7px;
    top: 0;
    left: 18px;
  }
  .text {
    margin: 5px 20px 0 0px;
    color: white;
    font-size: 12px;
    padding-left: 30px;
  }
  .orange_text {
    /* margin-top: 15px; */
    margin: 5px 0px 0 8px;
  
    color: orange;
    font-size: 13px;
  }
  .used_text {
    font-size: 12px;
    margin: 5px 8px 0 8px;
    color: blanchedalmond;
  }
  
  .main_img {
    width: 585px;
    height: 280px;
    margin-right: 25px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 5px,
      rgba(246, 244, 244, 0.22) 0px 3px 5px;
  }
  
  .bot_wrap {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
  
    align-items: center;
  }
  
  .btn_wrap {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .first_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    margin-right: 25px;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
    border: 2px solid rgb(248, 246, 246);
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    
  }
  .second_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
    border: 2px solid rgb(248, 246, 246);
    width: 250px;
    height: 40px;
  
  }
}