.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 15px ;
   
   
    
    
}
.hobbies_title{
    margin:  0;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 70px;
    backdrop-filter: blur(35px);
    border-radius: 50%;
    color: wheat;
    
    font-size: 15px;
    font-weight: normal;
   
    
}

.hobbies_list{

margin: 0;

padding:  17px 17px;
border-radius: 40px;
/* border: 3px solid white; */
backdrop-filter: blur(25px);
background: url('https://cdn.pixabay.com/photo/2014/04/05/11/09/blue-background-314806_960_720.jpg');
background: transparent;
/* opacity: 0.7; */

/* box-shadow: 10px 10px 10px 10px   white inset; */
}
.hobbies_item{
    margin-bottom: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-bottom: 1px solid wheat;
}
.hobbies_item:last-child{
    border: 0;
    margin: 0;
}

.hobbies_icon{
    margin-bottom: 5px;
fill: wheat;
}
.hobbies_text{
    color: wheat;
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
    
}