@media screen and (min-width: 320px) and (max-width: 767px) {
 
  .me_img {
    display: none;
    margin-top: 6vh;
    width: 33vw;
    border-radius: 50%;
    box-shadow: inset rgba(15, 15, 15, 0.6) 0 -3px 8px,
      inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
    opacity: 1.5;
    
  }
  .container {
    margin-top: 75px;
    color: aliceblue;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 14px;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
  }
  .front_side{
    
    
    display: flex;
   align-items: center;
   justify-content: center;
   
    padding:  30px;
    
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
    
  }
  .title {
  margin: 0;
    width: 85vw;
    color: rgb(55, 51, 44);
    font-size: 20px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  }
  
  .subtitle {
   
    margin-top: 20px;
    color: rgb(8, 8, 8);
   width: 65vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  }
  .text {
    font-size: 15px;
    color: black;
    margin-top: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
  
  
  .btn {
    color: wheat;
    /* margin-top: 5vh; */

  
  border: 2px solid wheat;
  width: 75vw;
  height: 6vh;
  border-radius: 25px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: transparent;
  backdrop-filter: blur(100px);
}



.link {
  
    font-size: 15px;
  color:wheat;
  opacity: 1;
  text-decoration: none;
  width: 100%;
}
  .socials_list {
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    /* margin-top: 1em; */
   
    align-items: center;
    justify-content: space-between;
    width: 78vw;
    height: 7vh;
    border: 2px solid wheat;
    border-radius: 50px;
    backdrop-filter: blur(100px);
    
  }
  .socials_item {
    display: flex;
  
    width: 50px;
    height: 50px;
    padding: 15px;
   
    border-radius: 50%;
  
    align-items: center;
    justify-content: center;
  }
  .icon {
    fill: wheat;
    width: 25px;
    height: 25px;
  }
  .socials_img {
    width: 50px;
    height: 50px;
  }
  
}
/* TBLET----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container  {
    color: aliceblue;
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin-top: 80px;
  }
  .me_img {
    margin-top: 6vh;
    width: 33vw;
    border-radius: 50%;
    box-shadow: inset rgba(15, 15, 15, 0.6) 0 -3px 8px,
      inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
    opacity: 1.5;
    
  }
  
  .front_side{
    
    
    display: flex;
   align-items: center;
   
    padding:  30px;
    
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
  
  }
  .title {
    margin-top: 25px;
    margin-left: -110px;
    color: rgb(96, 88, 74);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .subtitle {
    margin-top: 35px;
    color: rgb(96, 88, 74);
    width: 30vw;
    
    
  }
  .text {
    color: rgb(96, 88, 74);
    margin-top: 3vh;
    margin-left: 35px;
   width: 55vw;
   height: 25vh;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
  
  .socials_list {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 55px;
    border: 2px solid wheat;
    border-radius: 50px;
    backdrop-filter: blur(18px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
  }
  .socials_item {
    display: flex;
  
    width: 50px;
    height: 50px;
    padding: 20px;
   
    border-radius: 50%;
  
    align-items: center;
    justify-content: center;
  }
  .icon {
    fill: wheat;
    width: 25px;
    height: 25px;
  }
  .socials_img {
    width: 50px;
    height: 50px;
  }
  
  .btn {
      color: wheat;
      margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    
    border: 2px solid wheat;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: transparent;
  
  }
  
  
  
  .link {
    
      font-size: 16px;
    color:wheat;
    opacity: 1;
    text-decoration: none;
    width: 100%;
  }
}

/* DESKPOT----------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .container {
    color: aliceblue;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
    
  }
  .me_img {
    width: 250px;
    border-radius: 50%;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
      inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
    
    
    margin-right: 50px;
  }
  
  .front_side{
    width: 100%;
    
    margin-top: 50px;
    display: flex;
   align-items: center;
   justify-content: center;
  backdrop-filter: blur(100px);
    padding: 10px 0;
   height: 350px;
    border-bottom: 0.5px solid wheat;
    border-top: 0.5px solid wheat;
  }
  .title {
    color: rgb(96, 88, 74);
    font-size: 35px;
    font-weight: 600;
    margin-top: 25px;
  }
  
  .subtitle {
    width: 15vw;
    color: rgb(96, 88, 74);
    margin-top: 45px;
    font-size: 22px;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
    
  }
  .text {
    font-size: 16px;
    color: rgb(96, 88, 74);
    color:rgb(55 53 49);
    margin-top: 40px;
    width: 28vw;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .socials_list {
    padding: 0;
    margin-bottom: 0;
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 55px;
    border: 2px solid wheat;
    border-radius: 50px;
    backdrop-filter: blur(18px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
  }
  .socials_item {
    display: flex;
  
    width: 50px;
    height: 50px;
    padding: 20px;
   
    border-radius: 50%;
  
    align-items: center;
    justify-content: center;
  }
  .icon {
    fill: wheat;
    width: 25px;
    height: 25px;
  }
  .socials_img {
    width: 50px;
    height: 50px;
  }
  
  .btn {
      color: wheat;
      backdrop-filter: blur(18px);
      
    margin-left: auto;
    margin-right: auto;
    
    border: 2px solid wheat;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: transparent;
  
  }
  
  
  
  .link {
      font-size: 16px;
    color:wheat;
    opacity: 1;
   
    text-decoration: none;
    width: 100%;
  }
}