
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
  height: 80vh;
    display: flex;
    padding: 10px 0 0 20px;
   
   
  }
  .rightSideWrap{
    display: flex;
    align-items: center;
    width: 65vw;
    margin-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .topSide_list {
    
    
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
  }
  .topSide_item {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(50px);
    border-radius: 25px;
    width: 65vw;
    height: 220px;
    margin-top: 35px;
    border-bottom: 0.5px solid wheat;
    
  }


  .topSide_title {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: wheat;
    margin-right: 15px;
    
  }
  
 
  
  
  .topSide_subtitle{
    position: relative;
    margin: 0;
    margin: 22px 0px 17px 5px;
    color: white;
    font-size: 15px;
    
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    
  }
  .topSide_subtitle::after{
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: wheat;
    border-radius: 1.5px;
  }
  .topSide_range{
    color: white;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .topSide_text{
   color: wheat;
   padding: 0 20px  ;
   line-height: 120%;
   letter-spacing: 0.03em;
   font-size: 10px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
  
    display: flex;
    padding: 25px;
   
   
  }
  .topSide_list {
    width: 60vw;
    margin-top: 7vh;
    display: flex;
    margin-left: 35px;
    justify-content: flex-start;
  }
  .topSide_item {
    position: relative;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 25px;
    width: 38vw;
    height: 45vh;
   
    border-bottom: 0.5px solid wheat;
    
  }
  .topSide_title {
    font-size: 35px;
    font-weight: normal;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: wheat;
    margin-right: 15px;
    
  }
  
  .topSide_image {
    
    opacity: 0.6;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 160px;
  }
  
  .slider {
    width: 100%;
    height: 150px;
  }
  .topSide_subtitle{
    position: relative;
    margin: 0;
    margin: 22px 0px 17px 0px;
    color: white;
    font-size: 18px;
    
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    
  }
  .topSide_subtitle::after{
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: wheat;
    border-radius: 1.5px;
  }
  .topSide_range{
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .topSide_text{
   color: wheat;
   padding: 0 20px  ;
   line-height: 120%;
   letter-spacing: 0.03em;
  }
  

}

/* DESKPOT----------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .container {
  height: 85vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
  }
  .topSide_list {
    margin-top: 30px;
    display: flex;
    margin-left: 85px;
    margin-right: auto;
    justify-content: flex-start;
  }
  .topSide_item {
    position: relative;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 25px;
    width: 330px;
    height: 410px;
   
    border-bottom: 0.5px solid wheat;
    
  }
  .topSide_title {
    font-size: 35px;
    font-weight: normal;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: wheat;
    margin-right: 15px;
    
  }
  
  .topSide_image {
    
    opacity: 0.6;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 160px;
  }
  
  .slider {
    width: 100%;
    height: 150px;
  }
  .topSide_subtitle{
    position: relative;
    margin: 0;
    margin: 22px 0px 17px 0px;
    color: white;
    font-size: 18px;
    
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    
  }
  .topSide_subtitle::after{
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: wheat;
    border-radius: 1.5px;
  }
  .topSide_range{
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    
  }
  .topSide_text{
   color: wheat;
   padding: 0 15px  ;
   line-height: 120%;
   
  }
  
}