/* MOBILE---------------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .disabled {
    text-align: center;

    background-size: cover;
    color: #fff;

    font-size: 20px;
    letter-spacing: 0.12em;
    transition: all 300ms ease;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;

    margin-right: 30px;
    border-radius: 50px;
    background: url('../images/1.jpg');
    background-size: cover;
  }

  .mainActive {
    margin-right: 30px;
    width: 500px;

    background: url('../images/1.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }
  .about {
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border-radius: 50px;
    background-size: cover;
    background: url('../images/2bg.JPG');
    overflow: hidden;
  }

  .aboutActive {
    margin-right: 30px;
    width: 650px;

    background: url('../images/2.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .portfolio {
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border-radius: 50px;
    background-size: cover;
    background: url('../images/3.jpg');
    overflow: hidden;
  }

  .portfolioActive {
    /* opacity: 0.7; */
    margin-right: 30px;
    width: 65vw;
    height: 720px;
    background: url('../images/3.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .skills {
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border-radius: 50px;
    background-size: cover;
    background: url('../images/4.jpg');
    overflow: hidden;
  }
  .skillsActive {
    margin-right: 30px;
    width: 65vw;
    height: 720px;
    background: url('../images/4.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }
}
/* TBLET----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .disabled {
    text-align: center;
    width: 400px;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.12em;
    transition: all 300ms ease;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;

    background: url('../images/1.jpg');
    background-size: cover;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  .mainActive {
    width: 100vw;
    height: 720px;

    background-size: cover;
    overflow: hidden;

    background: url('../images/1.jpg');
  
    border-bottom: 3px solid white;
  }
  .about {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    
    background: url('../images/2bg.JPG');
    overflow: hidden;
    border-bottom: 3px solid white;
  }

  .aboutActive {
    background: url('../images/2.jpg');
    width: 100vw;
    overflow: hidden;
     border-bottom: 3px solid white;
    background-size: cover;
  }
  .portfolio {
    display: flex;
    width: 100vw;

    align-items: center;
    justify-content: center;

    background-size: cover;
    background: url('../images/3.jpg');
    overflow: hidden;
    border-bottom: 3px solid white;
  }

  .portfolioActive {
   
    background: url('../images/3.jpg');
    border-bottom: 3px solid white;
    width: 100vw;
    
    overflow: hidden;

    background-size: cover;
    border-bottom: 3px solid white;
  }

  .skills {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
   background: url('../images/4.jpg');
    overflow: hidden;
    border-bottom: 3px solid white;
    background-size: cover;
  }
  .skillsActive {
    width: 100vw;

    overflow: hidden;
   background: url('../images/4.jpg');
    background-size: cover;
  }
  .NightTheme {
    box-shadow: rgb(243 243 249 / 25%) 0px 6px 12px -2px,
      rgb(248 242 242 / 30%) 0px 3px 7px -3px;
    opacity: 0.8;
    transition: opacity 1s ease-in;
  }
}

/* DESKPOT----------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .disabled {
    text-align: center;
    width: 400px;
    background-size: cover;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 30px;
    letter-spacing: 0.12em;
    transition: all 300ms ease;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;

    height: 720px;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 50px;
    background: url('../images/1.jpg');
    background-size: cover;
  }

  .mainActive {
    margin-right: 30px;

    height: 720px;
    background: url('../images/1.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .about {
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border-radius: 50px;
    background-size: cover;
    background: url('../images/2bg.JPG');
    overflow: hidden;
  }

  .aboutActive {
    display: block;
    margin-right: 30px;
    width: 65vw;
    height: 720px;
    background: url('../images/2.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .portfolio {
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border-radius: 50px;
    background-size: cover;
    background: url('../images/3.jpg');
    overflow: hidden;
  }

  .portfolioActive {
    /* opacity: 0.7; */
    margin-right: 30px;
    width: 65vw;
    height: 720px;
    background: url('../images/3.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .skills {
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border-radius: 50px;
    background-size: cover;
    background: url('../images/4.jpg');
    overflow: hidden;
  }
  .skillsActive {
    margin-right: 30px;
    width: 65vw;
    height: 720px;
    background: url('../images/4.jpg');
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }
  .NightTheme {
    box-shadow: rgb(243 243 249 / 25%) 0px 6px 12px -2px,
      rgb(248 242 242 / 30%) 0px 3px 7px -3px;
    opacity: 0.8;
    transition: opacity 1s ease-in;
  }
}
