/* MOBILE---------------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .disabled {
    text-align: center;
    width: 400px;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.12em;
    transition: all 300ms ease;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;

    
    background: linear-gradient(to right, #5f5db4, rgb(188 96 139));
    background-size: cover;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  .mainActive {
    width: 100vw;
    height: 720px;
    background: linear-gradient(to right, #5f5db4, rgb(188 96 139));
    background-size: cover;
    overflow: hidden;

    
  
    border-bottom: 3px solid white;
  }
  .about {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

   
    background: linear-gradient(to left, #8e5f5f, rgb(70, 132, 87));
    overflow: hidden;
    border-bottom: 3px solid white;
  }

  .aboutActive {
    
    background: linear-gradient(to top, #8e5f5f, rgb(70, 132, 87));
    width: 100vw;
    overflow: hidden;
     border-bottom: 3px solid white;
    background-size: cover;
  }
  .portfolio {
    display: flex;
    width: 100vw;

    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #31a17c, rgb(37, 48, 166));
    background-size: cover;
    
    overflow: hidden;
    border-bottom: 3px solid white;
  }

  .portfolioActive {
   
    
    border-bottom: 3px solid white;
    width: 100vw;
    background: linear-gradient(to top, #31a17c, rgb(37, 48, 166));
    overflow: hidden;

    background-size: cover;
    border-bottom: 3px solid white;
  }

  .skills {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #113276, rgb(166, 95, 37));
    overflow: hidden;
    border-bottom: 3px solid white;
    background-size: cover;
  }
  .skillsActive {
    width: 100vw;

    overflow: hidden;
    background: linear-gradient(to top, #113276, rgb(166, 95, 37));
    background-size: cover;
  }
  .NightTheme {
    box-shadow: rgb(243 243 249 / 25%) 0px 6px 12px -2px,
      rgb(248 242 242 / 30%) 0px 3px 7px -3px;
    opacity: 0.8;
    transition: opacity 1s ease-in;
  }
}
/* TBLET----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .disabled {
    text-align: center;
    width: 400px;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.12em;
    transition: all 300ms ease;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;

    
    background: linear-gradient(to right, #5f5db4, rgb(188 96 139));
    background-size: cover;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  .mainActive {
    width: 100vw;
    height: 720px;

    background-size: cover;
    overflow: hidden;

    background: url('../images/1.jpg');
    background: linear-gradient(to right, #5f5db4, rgb(188 96 139));
    border-bottom: 3px solid white;
  }
  .about {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #8e5f5f, rgb(70, 132, 87));
    
    /* background: url('../images/2bg.JPG'); */
    overflow: hidden;
    border-bottom: 3px solid white;
  }

  .aboutActive {
    background: url('../images/2.jpg');
    background: linear-gradient(to top, #8e5f5f, rgb(70, 132, 87));
    width: 100vw;
    overflow: hidden;
     border-bottom: 3px solid white;
    background-size: cover;
  }
  .portfolio {
    display: flex;
    width: 100vw;

    align-items: center;
    justify-content: center;

    background-size: cover;
    background: linear-gradient(to top, #31a17c, rgb(37, 48, 166));
    overflow: hidden;
    border-bottom: 3px solid white;
  }

  .portfolioActive {
   
    background: linear-gradient(to top, #31a17c, rgb(37, 48, 166));
    border-bottom: 3px solid white;
    width: 100vw;
    
    overflow: hidden;

    background-size: cover;
    border-bottom: 3px solid white;
  }

  .skills {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #113276, rgb(166, 95, 37));
    overflow: hidden;
    border-bottom: 3px solid white;
    background-size: cover;
  }
  .skillsActive {
    width: 100vw;

    overflow: hidden;
    background: linear-gradient(to top, #113276, rgb(166, 95, 37));
    background-size: cover;
  }
  .NightTheme {
    box-shadow: rgb(243 243 249 / 25%) 0px 6px 12px -2px,
      rgb(248 242 242 / 30%) 0px 3px 7px -3px;
    opacity: 0.8;
    transition: opacity 1s ease-in;
  }
}

/* DESKPOT----------------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .disabled {
    font-family: sans-serif;
    text-align: center;
    width: 400px;
    background-size: cover;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.12em;
    transition: all 300ms ease;
    flex-shrink: 0;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    

    height: 720px;
    
    margin-left: 30px;
    border-radius: 50px;
    background: url('../images/1.jpg');
    /* background: linear-gradient(to right, black, rgb(70, 132, 87)); */
    background-size: cover;
  }

  .mainActive {
    margin-left: 30px;
    position: relative;
    
    background: url('../images/1.jpg');
    background: linear-gradient(to right, #5f5db4, rgb(188 96 139));
    border-radius: 50px;
    background-size: cover;
    
  }

  .about {
    
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 50px;
    background-size: cover;
    background: linear-gradient(to top, #8e5f5f, rgb(70, 132, 87));
    /* background: url('../images/2.jpg'); */
    overflow: hidden;
  }

  .aboutActive {
    display: block;
    margin-left: 30px;
    width: 65vw;
    height: 720px;
    /* background: url('../images/2.jpg'); */
    background: linear-gradient(to right, #8e5f5f, rgb(70, 132, 87));
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .portfolio {
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 50px;
    background-size: cover;
    background: url('../images/3.jpg');
    background: linear-gradient(to top, #31a17c, rgb(37, 48, 166));
    overflow: hidden;
  }

  .portfolioActive {
    /* opacity: 0.7; */
    margin-left: 30px;
    
    
    background: url('../images/3.jpg');
    background: linear-gradient(to right, #31a17c, rgb(37, 48, 166));
    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
  }

  .skills {
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 50px;
    background-size: cover;
    
    background: linear-gradient(to top, #113276, rgb(166, 95, 37));
    overflow: hidden;
  }
  .skillsActive {
    margin-left: 30px;
    width: 65vw;
    height: 720px;
    
    background: linear-gradient(to right, #113276, rgb(166, 95, 37));
    border-radius: 50px;
    background-size: cover;
    
    overflow: hidden;
  }
  .NightTheme {
    box-shadow: rgb(243 243 249 / 25%) 0px 6px 12px -2px,
      rgb(248 242 242 / 30%) 0px 3px 7px -3px;
    opacity: 0.8;
    transition: opacity 1s ease-in;
  }
}
