@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    margin-top: 4vh;
    margin-left: 40px;
  }
  .line {
    background-color: wheat;
    height: 5px;
    width: 77vw;
    border-radius: 3px;
  }
  .timeLine_list {
    margin-right: 25px;
    display: flex;
    padding: 0;
  }
  .timeLine_listBottom {
    display: flex;
    padding: 0;
    margin-left: 20px;
  }
  .timeLine_item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    margin-right: 25px;
    border-bottom: 0.5px solid wheat;
    margin-bottom: 21px;
  }
  .timeLine_item::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    background-color: wheat;
    top: 48px;
    left: 34.5%;
  }
  .timeLine_item::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-44%);
    background-color: rgb(81, 71, 172);
    border: 3px solid wheat;
    top: 66px;
    left: 35%;
    z-index: 5;
  }
  .timeLine_itemBottom {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
width: 20vw;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    margin-right: 25px;
margin-top: 21px;
    border-top: 0.5px solid wheat;
  }
  .timeLine_itemBottom::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    background-color: wheat;
    bottom: 48px;
    left: 65%;
  }
  .timeLine_itemBottom::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-36%);
    background-color: rgb(81, 71, 172);
    bottom: 66px;
    left: 65%;
    border: 3px solid wheat;
    z-index: 5;
  }
  .timeLine_year {
    margin: 0;
    color: wheat;
  }
  .timeLine_text {
    color: wheat;
    margin: 0;
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-top: 45px;
    margin-left: 153px;
  }
  .line {
    background-color: wheat;
    height: 5px;
    width: 640px;
    border-radius: 3px;
  }
  .timeLine_list {
    margin-right: 25px;
    display: flex;
    padding: 0;
  }
  .timeLine_listBottom {
    display: flex;
    padding: 0;
    margin-left: 80px;
  }
  .timeLine_item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    margin-right: 25px;
    border-bottom: 0.5px solid wheat;
  }
  .timeLine_item::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    background-color: wheat;
    top: 53px;
    left: 49.5%;
  }
  .timeLine_item::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-44%);
    background-color: rgb(81, 71, 172);
    border: 3px solid wheat;
    top: 66px;
    left: 50%;
    z-index: 5;
  }
  .timeLine_itemBottom {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;

    border-radius: 15px;
    backdrop-filter: blur(50px);
    margin-right: 25px;

    border-top: 0.5px solid wheat;
  }
  .timeLine_itemBottom::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    background-color: wheat;
    bottom: 53px;
    left: 50%;
  }
  .timeLine_itemBottom::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-36%);
    background-color: rgb(81, 71, 172);
    bottom: 66px;
    left: 50%;
    border: 3px solid wheat;
    z-index: 5;
  }
  .timeLine_year {
    margin: 0;
    color: wheat;
  }
  .timeLine_text {
    color: wheat;
    margin: 0;
    font-size: 12px;
  }
}
