.btn_backdrop {
    
  position: absolute;
  top: 45%;
  left: 75px;
 
  width: 33px;
  height: 65px;
  background: url('../../images/1.jpg');
  border: 0;
  border-radius: 20px;
 
}

.btn_icon{
    fill:rgb(255, 255, 255);
    position: absolute;
    top: 1px;
    left: 1px;
    
    width: 20px;
    height: 20px;
padding: 3px;
border-radius: 50%;
border: 2px solid rgb(255, 255, 255);
}
.btn_iconNight{
    
    fill:rgb(66, 48, 15);
    position: absolute;
    bottom: 1px;
    left: 1px;
    
width: 20px;
height: 20px;
padding: 3px;
border-radius: 50%;
border: 2px solid rgb(66, 48, 15);
}