/* MOBILE---------------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn_backdrop {
    position: absolute;
    top: -0.5vh;
    left: 25px;
    transform: rotate(270deg);
    width: 34px;
    height: 66px;
    background-color: rgb(206 195 138 / 99%);

    border: 0;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid wheat; 
  }

  .btn_icon {
    fill: white;
    position: absolute;
top: 30px;
    left: 1px;

    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid wheat;
  }
  .btn_iconNight {
    fill: rgb(66, 48, 15);
    position: absolute;

    left: 1px;

    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid wheat;
  }
}


/* TBLET----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .btn_backdrop {
    position: absolute;
    top: -0.5vh;
    left: 25px;
    transform: rotate(270deg);
    width: 34px;
    height: 66px;
    background-color: rgb(206 195 138 / 99%);

    border: 0;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid wheat; 
  }

  .btn_icon {
    fill: white;
    position: absolute;
top: 30px;
    left: 1px;

    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid wheat;
  }
  .btn_iconNight {
    fill: rgb(66, 48, 15);
    position: absolute;

    left: 1px;

    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid wheat;
  }
}

/* DESKPOT----------------------------------------------------------------------------------------- */

@media (min-width: 1200px) {
  .btn_backdrop {
    position: absolute;
    top: 45%;
    left:  -50px;

    width: 33px;
    height: 63px;
    background: url('../../images/1.jpg');
    border: 0;
    border-radius: 20px;
    z-index: 15;
  }

  .btn_icon {
    fill: white;
    position: absolute;
    
    left: 1px;
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    
  }
  .btn_iconNight {
    fill: rgb(66, 48, 15);
    position: absolute;
   
    left: 1px;

    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid rgb(66, 48, 15);
  }
}
