@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
}

.item-enter {
  opacity: 0;
 
}
.item-enter-active {
  
 
  opacity: 1;
  
  transition:  opacity 2000ms  linear;
  /* transition-delay: ms linear; */
}
.item-exit {
 
  opacity: 1;
}
.item-exit-active {
 
  opacity: 0;
  
 
  transition:  opacity 100ms  ease;
  
}


/* ---------------------------------------------------------------------------------------------------- */
.title-enter {
  color: rgb(188, 162, 131);
  /* transform: rotate(90deg); */
  opacity: 0;
  /* transform: translateX(-400px); */
  scale: 0;
}
.title-enter-active {
  /* transform: rotate(0); */
  color: white;
  scale: 1;
  opacity: 1;
  /* transform: translateX(0); */
  transition:  scale 1700ms  cubic-bezier(0.1, -0.6, 0.2, 0.2);
  transition:  all 200ms  cubic-bezier(0, 0, 0, 0.1);;
  
  
}
.title-exit {
  /* transform: translateX(0); */
 
  /* scale: 0.2; */
  opacity: 1;
}
.title-exit-active {
  /* transform: translateX(-500px); */
  opacity: 0;
  /* scale: 1; */
  
  /* transition:  scale 200ms  cubic-bezier(0.1, -0.6, 0.2, 0.2); */
  transition:  opacity 100ms  ease;
  
}
/* ---------------------------------------------------------------------------------------------------- */
.title-enter {
  color: rgb(188, 162, 131);
  
  opacity: 0;
  
  scale: 0;
}
.title-enter-active {
  scale: 1;
  opacity: 1;
  
  transition:  scale 500ms  cubic-bezier(0.1, -0.6, 0.2, 0.2);
  transition:  all 500ms  cubic-bezier(0, 0, 0, 0.1);;
  
  
}
.title-exit {
  opacity: 1;
}
.title-exit-active {
  
  opacity: 0;
  transform: translateX(-400px);

  transition:  opacity 100ms  ease;
  
}

/* ---------------------------------------------------------------------------------------------------- */
.list_item-enter {
  position: absolute;
  /* margin-top: 30px; */
  top: 0%;
  left: 0;
    /* border: 2px solid rgb(42, 32, 32) ; */
    /* width: 540px; */
    /* height: 246px; */
    
  /* opacity: 0; */
  scale: 0.1;
 
}
.list_item-enter-active {
  scale: 1;
    /* border: 2px solid rgb(42, 32, 32) ; */
    
  
  /* opacity: 1; */
  
  transition:  scale 500ms  cubic-bezier(0.1, -0.6, 0.2, 0.2);
  transition:  all 1000ms ease;
/* animation-delay: 1500ms; */
  
  
}
.list_item-exit {
  opacity: 1;
}
.list_item-exit-active {
  
  opacity: 0;
  

  transition:  opacity 100ms  ease;
  
}
